<div class="tile is-parent <%= partenaire_financier ? 'is-6' : (request.variant.include?(:desktop) ? 'is-4' : '') %>">
  <article class="box tile is-child partenaire-tile">
    <div class="columns">
      <div class="column is-one-third ml-2 mt-2 mr-6">
        <figure class="image is-128x128">
          <% if partenaire.logo.attached? %>
            <%= image_tag partenaire.logo, width: '100%', height: '100%', alt: "logo du partenaire '#{ partenaire.nom }'", loading: 'lazy' %>
          <% else %>
            <%= image_tag 'logo.webp', style: "opacity: 25%", width: '100%', height: '100%', alt: "logo de remplacement du partenaire '#{ partenaire.nom }'", loading: 'lazy' %>
          <% end %>
        </figure>
      </div>

      <div class="column">
        <p class="title is-4 has-text-weight-bold">
          <%= partenaire.nom %>
        </p>
      </div>
    </div>

    <p class="subtitle is-5">
      <%= partenaire.description %>
    </p>
    <% unless partenaire.lien.blank? %>
      <%= link_to partenaire.lien, target: "_blank", rel:"noreferrer noopener", 'aria-label': 'Site du partenaire' do %>
        <p class="subtitle is-6">
          <%= URI.parse(partenaire.lien).host %>
        </p>
      <% end %>
    <% end %>
    <% if current_user.try(:admin?) %>
      <%= link_to edit_partenaire_path(partenaire) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
  </article>
</div>