<section class="hero is-background-color-primary mb-6">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1 has-text-white">
      Le RNMA, une FABRIQUE de COMMUNS
    </h1>
  </div>
</section>

<div id="main-container">
  <div id="main-content">
    <div id="content" class="content has-text-justified">
      <p class="is-size-4">
        Créé en 1994, le Réseau National des Maisons des Associations  est aujourd’hui une Fabrique de communs au service de la vie associative territoriale grâce à la promotion, le partage et le développement de projets associatifs.
      </p>

      <p class="is-size-4">
        Le RNMA agit avec et auprès de plus de 80 structures membres, MDA (associatives ou services de collectivités), réparties sur le territoire métropolitain et en Outre-Mer, chacun apportant sa pierre à l’édifice, en tirant quelque chose pour son territoire, tout en participant à la construction d’un savoir, d’un apport transmissible à d’autres territoires et d’autres MDA.
      </p>

      <div class="columns is-desktop is-gapless">
        <div class="column is-two-fifths mt-3">
          <p class="is-color-tertiary is-size-4 has-text-weight-bold">
            Chaque membre du RNMA est co-acteur et contributeur des actions du réseau.
          </p>
          <p class="is-size-5">
            Nos modes de gouvernance et d’animation favorisent l’implication de tous à travers des groupes de travail thématiques, nommés “équipages”, espaces de co-construction de projets ou de ressources partagées, d’inspiration et de partage d’expériences où chacun s’enrichit de l’autre. A côté des membres du réseau, ce mode de faire donne une plus grande place dans nos actions aux partenaires publics, privés et universitaires qui nous témoignent leur confiance.
          </p>
        </div>
        <div class="column">
          <%= image_tag 'présentationRNMA1.webp', width: '100%', loading: 'lazy' %>
        </div>
      </div>

      <div id="nos_missions" style="padding-top: 70px">
        <h2 class="is-color-tertiary is-size-3">
          <strong>Nos fonctions</strong> en tant que <strong>tête de réseau</strong>
        </h2>

        <%= image_tag 'présentationRNMA2.png', loading: 'lazy' %>

        <h2 class="is-antonio is-color-tertiary is-size-3">
          <strong>Nos missions</strong> principales
        </h2>

        <p class="is-color-secondary is-size-4 has-text-weight-bold">
          Le Réseau national des Maisons des associations soutient le développement des structures locales d’aide à la vie associative sur l’ensemble du territoire. Il crée entre elles des synergies pour accroître l’efficacité de leur action.
        </p>

        <div id="development" class="columns mb-6">
          <div class="column">
            <h3 class="is-color-quaternary is-size-4">
              Dans <strong>l’aide au développement des structures,</strong> le réseau :
            </h3>
            <ul class="subtitle">
              <li>
                <strong>conseille</strong> les collectivités territoriales dans la conception et la création de Maisons des associations (diagnostic, étude de besoins, montage de dossiers...)
              </li>
              <li>
                <strong>accompagne</strong> les élus et les cadres associatifs dans la création et le développement des structures (assistance technique et juridique, recrutement et formation de professionnels...)
              </li>
              <li>
                <strong>aide</strong> à la définition et à la mise en œuvre de stratégies de développement avec les différents partenaires institutionnels (recherche de positionnement, mise en visibilité de l’action, aide à la communication...)
              </li>
            </ul>
          </div>
          <div class="column">
            <h3 class="is-color-quaternary is-size-4">
              Dans <strong>l’instauration de synergies</strong> entre les Maisons, le réseau :
            </h3>
            <ul class="subtitle">
              <li>
                <strong>impulse</strong> les échanges et la mutualisation des ressources entre les Maisons des associations et aide à la valorisation des compétences de chacune (information des responsables, transferts de savoirs faire, organisation de sessions de formation, diffusion d’outils pédagogiques...)
              </li>
              <li>
                <strong>favorise</strong> l’expérimentation de réponses innovantes et l’essaimage des "bonnes pratiques" (dynamiques collectives, échanges de compétences, subventions aux associations...)
              </li>
              <li>
                <strong>suscite</strong> la réflexion des acteurs du développement associatif face à l’émergence de questions nouvelles (journées d’études ou forums sur des thèmes spécifiques...)
              </li>
            </ul>
          </div>
        </div>

        <h3 class="is-antonio is-color-quaternary is-size-4">
          Le Réseau national des Maisons des associations se veut être également une force de proposition pour <strong>la mise en place de politiques d’aide au secteur associatif</strong>
        </h3>
        <ul class="subtitle">
          <li>
            il <strong>diagnostique</strong> les besoins des associations (observation des structures émergentes, analyse des nouvelles pratiques...),
          </li>
          <li>
            <strong>évalue</strong> les dispositifs mis en place et les actions conduites,
          </li>
          <li>
            <strong>participe</strong> aux travaux des instances concernées par les questions du développement associatif.
          </li>
        </ul>
        <br>
      </div>

      <div id="projet_strategique" class="mb-6">
        <br>
        <section class="hero is-very-small is-background-color-primary my-6">
          <div class="hero-body has-text-centered">
            <h2 class="title is-1 has-text-white">
              Le projet stratégique 2021-2025
            </h2>
          </div>
        </section>

        <p class="is-size-4">
          Dans le cadre de son projet 2021-2025, le RNMA travaille actuellement autour de 4 axes <br> stratégiques :
        </p>

        <div class="columns mx-6 has-text-centered">
          <div class="column">
            <%= link_to 'projets/l-analyse-au-service-de-l-action-territoriale' do %>
              <%= image_tag 'présentationRNMA3.jpg', loading: 'lazy' %>
              <p>
                L'<strong>analyse</strong> au service de l'<strong>action territoriale</strong>
              </p>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'projets/le-metier-accompagnateur' do %>
              <%= image_tag 'présentationRNMA4.jpg', loading: 'lazy' %>
              <p>
                De l'<strong>association au territoire</strong> : le métier d'<strong>accompagnateur</strong>
              </p>
            <% end %>
          </div>
          <div class="column">
            <%= link_to 'projets/l-engagement-a-portee-de-tous' do %>
              <%= image_tag 'présentationRNMA5.jpg', loading: 'lazy' %>
              <p>
                Soutenir l'<strong>engagement</strong> et la <strong>participation</strong> pour <strong>faire société</strong>
              </p>
            <% end %>
          </div>
          <div class="column is-3">
            <%= link_to 'projets/centre-de-ressources' do %>
              <%= image_tag 'présentationRNMA6.jpg', loading: 'lazy' %>
              <p>
                Des outils pour <strong>inspirer</strong> le <strong>développement</strong> de la vie associative locale
              </p>
            <% end %>
          </div>
        </div>
      </div>

      <div id="conseil_administration">
        <br>
        <section class="hero is-very-small is-background-color-primary my-6">
          <div class="hero-body has-text-centered">
            <h2 class="title is-1 has-text-white">
              Le Conseil d'Administration
            </h2>
          </div>
        </section>
        <div class="columns is-multiline">
          <%= render partial: 'partials/equipe', as: :user, collection: @users_ca, locals: {equipe_rnma: false} %>
        </div>
      </div>

      <div id="equipe_salariee">
        <br>
        <section class="hero is-very-small is-background-color-primary my-6">
          <div class="hero-body has-text-centered">
            <h2 class="title is-1 has-text-white">
              L'équipe salariée
            </h2>
          </div>
        </section>
        <div class="columns is-multiline">
          <%= render partial: 'partials/equipe', as: :user, collection: @users_equipe, locals: {equipe_rnma: true} %>
        </div>
      </div>

    </div>

    <div id="partenaires">
      <br>
      <section class="hero is-very-small is-background-color-primary my-6">
        <div class="hero-body has-text-centered">
          <h2 class="title is-1 has-text-white is-vcentered">
            Partenaires
          </h2>
        </div>
      </section>
      <h2 class="is-color-tertiary is-size-3 my-6">
        <strong>Nos partenaires</strong> financiers
      </h2>
      <div class="columns is-multiline">
      <%= render partial: 'partials/partenaire_tile', collection: @partenaires.financier, as: :partenaire, locals: {partenaire_financier: true } %>
      </div>

      <h2 class="is-color-tertiary is-size-3 my-6">
        <strong>Nos partenaires</strong> opérationnels
      </h2>
      <div class="columns is-multiline mb-6">
        <%= render partial: 'partials/partenaire_tile', collection: @partenaires.opérationnel, as: :partenaire, locals: {partenaire_financier: false } %>
      </div>
    </div>
  </div>
</div>