<%= bulma_form_with(model: typology) do |form| %>
  <% if typology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typology.errors.count, "error") %> prohibited this typology from being saved:</h2>

      <ul>
        <% typology.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :nom %>

  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'button is-success'%>
  </div>
<% end %>
